# http://editorconfig.org

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = false

# [*.go]


[*.json]
insert_final_newline = unset

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
